@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Roboto+Flex:wght@300;400;500;600;700&family=Roboto+Serif:wght@400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #4d7b88;
  padding-bottom: 1000px;
}

.no-result {
  font-style: italic;
  padding-left: 10px;
  padding-top: 20px;
}

.myTable {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-description {
  font-weight: 700;
  width: 70%;
  text-align: start;
  padding-left: 10px;
}

.dollar {
  font-weight: 700;
  width: 30%;
  text-align: center;
}

.odd {
  padding: 20px 10px;
}

.even {
  padding: 20px 10px;
  width: 50%;
  text-align: start;
  background-color: #5a8e9c;
}

.even2 {
  padding: 20px 10px;
  width: 50%;
  text-align: end;
  background-color: #5a8e9c;
}
